<div class="ui grid footer">
  <div class="fourteen wide centered column">
    <div class="ui grid">
      <div class="four wide column">
        <div class="row">
          <h3 class="header"><%= t ".get_to_know" %></h3>
        </div>
        <div class="row">
          <p><%= t ".careers" %></p>
          <p><%= t ".about_e+" %></p>
          <p><%= t ".e_devices" %></p>
        </div>
      </div>
      <div class="four wide column">
        <div class="row">
          <h3 class="header"><%= t ".make_money_with_us" %></h3>
        </div>
        <div class="row">
          <p><%= t ".sell_on_e" %></p>
          <p><%= t ".sell_your_services" %></p>
          <p><%= t ".sell_bussiness" %></p>
          <p><%= t ".advertise_your_products" %></p>
          <p><%= t ".become_an_affilliate" %></p>
        </div>
      </div>
      <div class="four wide column">
        <div class="row">
          <h3 class="header"><%= t ".e_payment_product" %></h3>
        </div>
        <div class="row">
          <p><%= t ".shop_with_points" %></p>
          <p><%= t ".credit_card_marketplace" %></p>
          <p><%= t ".reload_your_balance" %></p>
          <p><%= t ".e_currency_converter" %></p>
        </div>
      </div>
      <div class="four wide column">
        <div class="row">
          <h3 class="header"><%= t ".let_us_help_you" %></h3>
        </div>
        <div class="row">
          <p><%= t ".your_account" %></p>
          <p><%= t ".your_orders" %></p>
          <p><%= t ".e_prime" %></p>
          <p><%= t ".e_assistant" %></p>
          <p><%= t ".help" %></p>
        </div>
      </div>
      <div class="four wide centered column copyright">
        <p>&copy; <%= t ".tran_anh_vu" %></p>
      </div>
    </div>
  </div>
</div>
