<div class="ui centered segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui secondary menu">
        <%= link_to t(".home"), root_url, class: "active item" %>
        <div class="ui pointing dropdown link item">
          <span class="text"><%= t ".shop" %></span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="header"><%= t ".category" %></div>
            <div class="item">
              <i class="dropdown icon"></i>
              <span class="text"><%= t ".clothing" %></span>
              <div class="menu">
                <div class="item"><%= t ".men" %></div>
                <div class="item"><%= t ".women" %></div>
                <div class="item"><%= t ".accessories" %></div>
              </div>
            </div>
            <div class="item"><%= t ".book" %></div>
            <div class="item"><%= t ".electronic" %></div>
          </div>
        </div>
        <div class="right menu">
          <div class="ui category search">
            <div class="ui icon input">
              <input type="text" placeholder="Search..." class="prompt">
              <i class="search icon"></i>
            </div>
          </div>
          <%= link_to t(".cart"), "#", class: "ui item" %>
          <% if logged_in? %>
            <div class="ui pointing dropdown link item">
              <span class="text"><%= t ".account" %></span>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item"><%= link_to t(".profile"), current_user %></div>
                <div class="item"><%= link_to t(".settings"), "" %></div>
                <div class="divider"></div>
                <div class="item" %><%= link_to t(".logout"), logout_path,
                  method: :delete %></div>
                </div>
              </div>
            </div>
          <% else %>
            <%= link_to t(".login"), login_path, class: "ui item" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
