<div class="ui grid custom_grid">
  <div class="twelve wide column">
    <div class="ui grid cart_headline">
      <div class="twelve wide column">
        <h2 class="header"><%= t ".shopping_cart" %></h2>
      </div>
      <div class="four wide right aligned column">
        <p><%= t ".quantity" %></p>
      </div>
    </div>

    <div class="ui middle aligned divided list">
      <% @cart.line_items.each do |item| %>
        <div class="ui grid item">
          <div class="two wide column">
            <%= image_tag item.product.image.url, class: "ui tiny image" %>
          </div>
          <div class="nine wide column">
            <%= link_to item.product.name, product_path(item.product) %>
            <p><%= t ".code" %>: <%= item.product.code %></p>
            <p class="price">
              <%= number_to_currency item.product.price %>
            </p>
            <%= link_to t(".remove"), line_item_path(item), method: :delete,
              class: "remove" %>
          </div>
          <div class="four wide right aligned column quantity_section">
            <%= form_for item, url: line_item_path(item), method: :put do |f| %>
              <%= f.select :quantity, options_for_select(
                (Settings.min_qty..Settings.max_qty), item.quantity),
                {}, class: "ui dropdown qty_select" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="ui grid">
      <div class="sixteen wide right aligned column">
        <div class="ui grid">
          <div class="fourteen wide right aligned column">
            <h4 class="header"><%= t ".subtotal" %>:</h4>
          </div>
          <div class="two wide column cart_subtotal">
            <%= number_to_currency @cart.subtotal %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="shipping-fee-section ui attached message
      <%= @cart.subtotal > Settings.free_ship ? "free-shipping" : "" %>">
      <div class="header">
        <div class="sixteen wide column">
          <div class="free">
            <i class="checkmark icon"></i>
            <%= t ".free_shipping" %>
          </div>

          <div class="paid">
            <i class="remove icon"></i>
            <%= t ".shipping_fee" %>
          </div>
        </div>
      </div>
    </div>
    <div class="ui attached fluid segment">
      <h4 class="header">
        <%= t ".subtotal" %>(<%= t ".item_count",
          count: @cart.line_items.size %>):
        <span class="cart_subtotal">
          <%= number_to_currency @cart.subtotal %>
        </span>
      </h4>
      <%= link_to t(".proceed_to_checkout"), new_order_path,
        class: "ui button teal" %>
    </div>
  </div>
</div>
